	section{
		max-width: 560px;
		height: 600px;
		box-sizing: border-box;
		background: #F8F8F8;
		border: 1px dashed #C0C0C0;
		margin: auto;
	}
	
	header{
		display: inline-block;
		width: 500px;
		height: 60px;
		box-sizing: border-box; 
		background: #FFFFFF;
		color: #AEB2B6; 
		border: 1px solid #AEB2B6;
		margin: 9px 30px 10px 29px;
		text-align: center;
	}
	header > h2{
		display: inline-block;
		font: 16px 'Arial', sans-serif;
		margin-top: 16px;
	}
	
	#mid{ 
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		align-content: space-between;
		width: 500px;
		height: 380px;
		margin: 10px 30px 10px 29px;
		font: 16px 'Arial', sans-serif;
	}
	#mid p{
		text-align: center; 
		margin-top: 20px;	
	}
	
	footer{
		display: inline-block;
		width: 500px;
		height: 100px;
		box-sizing: border-box; 
		background: #FFFFFF; 
		color: #AEB2B6; 
		border: 1px solid #AEB2B6;
		margin: 10px 30px 10px 29px;
		text-align: center;
		}
	footer h2{
		display: inline-block;
		font: 16px 'Arial', sans-serif;
		margin-top: 16px;
	}
	
	#mid > div{
		width: 240px;
		display: block;
		box-sizing: border-box;
		background: #DCF0FC;
		color: #003A6C;
		border: 1px solid #999999;
	}
	#b1{
		height: 108px;		
	}
	#b4{
		height: 138px;		
	}
	#b6{
		height: 108px;		
	}
	#b2{
		height: 68px;		
	}
	#b3{
		height: 108px;		
	}
	#b5{
		height: 98px;		
	}
	#b7{
		height: 68px;		
	}